// calc vars
$contentWidth: 1440px;
$headerHeight: 72px;

// colors
$siteBg: #070708;
$telegramBg: #00AAFF26;
$telegramColor: #66CCFF;
$fillGreenBg: #3EE18D;
$greenBorderColor: #00B67A;
$xBorder: #98A5B2;